<form  >
<input type='text' id='element' name='newElement' value='' />

<select id='countries' name='countries' >
<option id='canada' name='canada' >Canada</option>
<option id='usa' name='usa' >United States of America</option>
</select>
</form>
